.hr {
  width: 25%;
  /* alig%n-items: center; */
  display: inline-flex;
  padding: 0;
}

.animated-text {
  opacity: 0; /* Start with text hidden */
  transform: translateY(20px); /* Move text slightly down */
  animation: fadeInUp 0.9s ease forwards; /* Apply animation */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px); /* Move text slightly down */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Move text back to its original position */
  }
}
@media (max-width: 768px) {
  .intro {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 4rem;
  }
  .sub {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1.5rem;
  }
  .sty {
    font-weight: bolder;
    font-size: 1rem;
  }
}

/* Desktop view */
@media (min-width: 769px) {
  .intro {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 6.5rem;
  }
  .sub {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 3.5rem;
  }
  .sty {
    font-weight: bolder;
    font-size: 3.5rem;
  }
}
